button {
  background-color: #A1C181;
  color: #FCF9F4;
  font-family: "Yeseva One";
  height: 20px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lora', serif;
  color: #233D4D;
  background-color: #FCF9F4;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yeseva One', cursive;
  color: #233D4D;
}
h1 {
  font-size: 4rem;
  padding: 20px;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  min-width: 350px;
  width: 100%;
  margin: 0 auto;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  margin: 5px 2%;
}
h1 {
  background-color: #233D4D;
  color: #FCF9F4;
  margin: 1px 0;
  justify-content: center;
}
.carousel-image {
  width: 100%;
  position: relative;
  margin: 1px 0;
}
img {
  width: 100%;
  height: auto;
  border: 0.5px solid #233D4D;
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: #A1C181;
  color: #233D4D;
  font-family: 'Yeseva One', cursive;
  font-size: 2rem;
  height: 100px;
  width: 200px;
  border: 0.5px solid #A1C181;
  opacity: 0.75;
}
.carousel-image .item {
  display: none;
}
.carousel-content {
  padding: 5%;
  background-color: #233D4D;
  color: #FCF9F4;
}
footer {
  background-color: #233D4D;
  color: #FCF9F4;
  margin: 10px 0;
  padding: 5px 1.5rem 5px 1.5rem;
  display: flex;
  justify-content: flex-start;
}
footer p {
  font-size: 1rem;
}
