/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lora', serif;
  color: #233D4D;
  background-color: #FCF9F4;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yeseva One', cursive;
  color: #233D4D;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.4;
}
img {
  width: 100%;
  height: auto;
}
.container {
  min-width: 350px;
  width: 100%;
  margin: 0 auto;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}
.headerNav {
  background-color: #FCF9F4;
  justify-content: space-between;
  position: relative;
}
.headerNav .headerImage {
  opacity: 0.25;
  margin-top: 10px;
}
.headerNav #pageHeader {
  font-family: "Yeseva One", "cursive";
  opacity: 1;
  position: absolute;
  top: 10%;
  color: #233D4D;
  margin: 1px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .headerNav #pageHeader {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  .headerNav #pageHeader {
    font-size: 8rem;
  }
}
.headerNav .tagline {
  margin: 3px 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #233D4D;
}
.headerNav .tagline p {
  padding: 5px;
  font-family: 'Lora';
  color: #FEAC88;
  font-size: 1.4rem;
}
footer {
  background-color: #233D4D;
  color: #FCF9F4;
  margin: 10px 0;
  padding: 5px 1.5rem 5px 1.5rem;
}
footer p {
  font-size: 0.7rem;
  margin: 2px;
  color: #579C87;
}
footer .attribution-tags {
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.panel {
  background-color: #FCF9F4;
}
.panel .title-style {
  background-color: #FCF9F4;
}
.panel .title {
  font-size: 1.4rem;
  font-family: "Yeseva One";
  color: #233D4D;
  padding: 4px;
}
@media (min-width: 768px) {
  .panel .title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .panel .title {
    font-size: 3rem;
  }
}
.panel .anchorbutton {
  font-family: "Yeseva One";
  font-size: 1rem;
  background-color: #FEAC88;
  color: #233D4D;
}
.content {
  font-family: "Lora";
  font-size: 1.2rem;
  color: #233D4D;
  padding: 4px;
  background-color: #FCF9F4;
}
@media (min-width: 992px) {
  .content {
    font-size: 1.6rem;
  }
}
.container-fluid {
  background-color: #FCF9F4;
}
.panel {
  background-color: #FCF9F4;
}
.panel .title-style {
  background-color: #FCF9F4;
}
.panel .title {
  font-size: 1.4rem;
  font-family: "Yeseva One";
  color: #233D4D;
  padding: 4px;
}
@media (min-width: 768px) {
  .panel .title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .panel .title {
    font-size: 3rem;
  }
}
.panel .anchorbutton {
  font-family: "Yeseva One";
  font-size: 1rem;
  background-color: #FEAC88;
  color: #233D4D;
}
.content {
  font-family: "Lora";
  font-size: 1.2rem;
  color: #233D4D;
  padding: 4px;
  background-color: #FCF9F4;
  display: block;
}
@media (min-width: 992px) {
  .content {
    font-size: 1.6rem;
  }
}
.bioblock {
  border-bottom: 1.5px solid #FEAC88;
}
.bioblock .name {
  font-family: "Yeseva One";
  padding-top: 0;
  margin-top: 0;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .bioblock .name {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .bioblock .name {
    font-size: 4rem;
  }
}
p {
  font-family: "Lora";
  color: #233D4D;
  padding-bottom: 4px;
}
@media (min-width: 992px) {
  p {
    font-size: 1.6rem;
  }
}
.title-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-tabs .anchorbutton {
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
}
.content {
  flex-wrap: wrap;
}
.bio {
  display: flex;
  justify-content: space-between;
}
.bio img {
  margin: 5px 10px 5px 5px;
  width: 150px;
  height: auto;
  border: 1px solid #233D4D;
}
.bio .textbox {
  display: block;
  width: 100%;
}
.bio .bioblock {
  padding: 2px;
  margin: 2px;
  width: 100%;
  flex-direction: column;
}
.bio .bioblock .name {
  width: 100%;
}
.bio .biotext {
  padding: 2px;
  margin: 2px;
  width: 100%;
  height: auto;
  display: none;
}
.bio .change {
  display: block;
}
