//about page
.container-fluid {
    background-color: @ivory;
}

.panel {
    background-color: @ivory;
    .title-style {
        background-color: @ivory;
    }
    .title {
        font-size: 1.4rem;
        font-family: "Yeseva One";
        color: @slate;
        padding: 4px;
        @media@tablet {
            font-size: 2rem;
        }
        @media@desktop {
            font-size: 3rem;
        }
    }
    .anchorbutton {
        font-family: "Yeseva One";
        font-size: 1rem;
        background-color: @light-coral;
        color: @slate;
    }
}
.content {
    font-family: "Lora";
    font-size: 1.2rem;
    color: @slate;
    padding: 4px;
    background-color: @ivory;
    display: block;
    @media@desktop {
        font-size: 1.6rem;
    }
}

.bioblock {
    border-bottom: 1.5px solid @light-coral;
    .name {
        font-family: "Yeseva One";
        padding-top: 0;
        margin-top: 0;
        font-size: 1.8rem;
        @media@tablet {
            font-size: 2.4rem;
        }
        @media@desktop {
            font-size: 4rem;
        }
    }
}

p {
    font-family: "Lora";
    color: @slate;
    padding-bottom: 4px;
    // border-bottom: 1.5px solid @light-coral;
    @media@desktop {
        font-size: 1.6rem;
    }

}


