
.title-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .anchorbutton {
        width: 110px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;
    }
}

.content {
    display: none;
    flex-wrap: wrap;
}

.change {
    display: block;
}