
.title-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .anchorbutton {
        width: 110px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;
    }
}

.content {
   // display: none;
    flex-wrap: wrap;
}

// .change {
//     display: block;
// }



.bio {
    display: flex;
    justify-content: space-between;
    img {
        margin: 5px 10px 5px 5px;
        width: 150px;
        height: auto;
        border: 1px solid @slate;
    }
    .textbox {
        display: block;
        width: 100%;
    }
    .bioblock {
        padding: 2px;
        margin: 2px;
        width: 100%;
        flex-direction: column;
        .name {
            width: 100%;
        }
    }
    .biotext {
        padding: 2px;
        margin: 2px;
        width: 100%;
        height: auto;
        display: none;
        
    }
    .change {
        display: block;
    }
}