
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'Lora', serif;
    color: @slate;
    background-color: @ivory;
    // display: flex;
    // flex-direction: column;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Yeseva One', cursive;
    color: @slate;
  }
  #pageHeader {
      font-size: 4rem;
      padding: 20px;
      @media@tablet {
        font-size: 6rem;
      }
      @media@desktop {
        font-size: 8rem;
    }
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  img {
    width: 100%;
    height: auto;
  }

  .container {
    min-width: 350px;
    width: 100%;
    margin: 0 auto;  
  }
 
  