
.container-fluid {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}

.headerNav {
    background-color: @ivory;
    justify-content: space-between;
    position: relative;
    .headerImage {
       opacity: .25;
       margin-top: 10px;
    }
    #pageHeader {
        font-family: "Yeseva One", "cursive";
        opacity: 1;
        position: absolute;
        top: 10%;
        color: @slate;
        margin: 1px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #tagline {
        margin: 3px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @slate;
        p {
            padding-top: 10px;
            font-family: 'Lora';
            color: @light-coral;
            font-size: 1.6rem;
        }
        
    }
}


footer {
    background-color: @slate;
    color: @ivory;
    margin: 10px 0;
    padding: 5px 1.5rem 5px 1.5rem;

    p {
        font-size: 1rem;
        margin: 2px;
    }
    .attribution-tags {
        margin: 1px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}