
.container-fluid {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}

.headerNav {
    background-color: @ivory;
    justify-content: space-between;
    position: relative;
    .headerImage {
       opacity: .25;
       margin-top: 10px;
    }
    #pageHeader {
        font-family: "Yeseva One", "cursive";
        opacity: 1;
        position: absolute;
        top: 10%;
        color: @slate;
        margin: 1px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 3rem;
        @media @tablet {
            font-size: 6rem;
        }
        @media @desktop {
          font-size: 8rem;
          }
    }
    .tagline {
        margin: 3px 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @slate;
        p {
            padding: 5px;
            font-family: 'Lora';
            color: @light-coral;
            font-size: 1.4rem;
        }
    }
}
   


footer {
    background-color: @slate;
    color: @ivory;
    margin: 10px 0;
    padding: 5px 1.5rem 5px 1.5rem;

    p {
        font-size: .7rem;
        margin: 2px;
        color: @soft-teal;
    }
    .attribution-tags {
        margin: 1px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}
