//landing page

.carousel-image {
    width: 100%;
    position: relative;
    margin: 1px 0;
    button {
        .button(@light-coral, @slate, 3rem, 100px);
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        align-items: center;
    }
}
img {
    border: .5px solid @slate;
}
